<h1>New Cocktail form</h1>


<%= form_for (@cocktail) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :recipe %>
    <%= f.text_area :recipe%><br><br>

    <%= f.label :spirits %><br>
    <%= collection_check_boxes(:cocktail, :ingredient_ids, Type.spirits, :id, :name) %><br><br>

    <%= f.label :mixers %><br>
    <%= collection_check_boxes(:cocktail, :ingredient_ids, Type.mixers, :id, :name) %><br><br>

    <%= f.label :garnish %><br>
    <%= collection_check_boxes(:cocktail, :ingredient_ids, Type.garnishes, :id, :name) %><br><br>

    <%= f.label :glass %><br>
    <%=f.collection_select :glass_id, Glass.all, :id, :name %>



    <%= f.hidden_field :user_id, value: session[:user_id] %>


    <%= f.submit %>
<% end %>
