<div class="flex-container">
    <div id="new", class="column">

        <h2>Please update your details here: </h2>
        <%= form_for @user do |f| %>

            <%= f.label :name %>
            <%= f.text_field :name %><br>
            
            <%= f.label :email %>
            <%= f.email_field :email %><br>
            
            <%= f.label :password %>
            <%= f.password_field :password %><br>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %><br>

            <%= f.submit%>
        <% end %>

        <%= link_to "delete your account", user_path(@user), { method: 'delete' } %>

    </div>
</div>