<!DOCTYPE html>
<html>
  <head>
    
    <title>BarTinder</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Elsie' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
  <p class='text-left'>
  <%= link_to " Home", welcome_path %> 
  <%= link_to "/ Users", users_path %>
  <%= link_to "/ Random Cocktail", cocktail_path(Cocktail.all.sample) %>
  <%= link_to "/ Cocktails", cocktails_path %>
  <%= link_to "/ New Cocktail", new_cocktail_path %>
  <%= link_to "/ Ingredients", types_path %> 
  </p>

  <div class="hello">
    <% if logged_in? %><p class='text-right'>
    <% greeting = [["Hello", "Hi", "What is up", "Good day", "How you doing", "Welcome", "Welcome to BarTinder"],["Get off the app", "Your cocktails suck", "Please leave bartinder", "Have an awful day"] ] %>
     
    <%= session[:user_id]>13 ? greeting[0].sample : greeting[1].sample %> <%= @current_user.name.titleize %> <%= link_to "Proffile", user_path(session[:user_id]) %>   <%= link_to 'Log Out', logout_path, { method: 'delete' } %>
</div>


    <% end %>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p class="error"><%= error %></p>
        <% end %>
    <% end %>
    <% if flash[:notice] %>
        <div>
            <%= flash[:notice] %>
        </div>
    <% end %>
 <%# <%= image_tag "background.jpg" %> 
    <%= yield %>
  </body>
</html>
